* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background-color:bisque;
    color: #333;
    line-height: 1.6;
}
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode header, nav {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode .invite * {
    color: #f4f4f4;
}

body.dark-mode nav ul li a {
    color: f4f4f4;
}

body.dark-mode button{
    color: #f4f4f4;
}

body.dark-mode #auth-buttons a{
    color: #f4f4f4 ;
}

header{
    background-color: blanchedalmond;
    color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: margin-left 0.5s ease;
    overflow: hidden;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex: none;
    }

.right-controls {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

#theme-toggle{
    padding: 0.5rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

#auth-buttons{
    display: flex;
}

#signup-button, #login-button{
    padding: 0.5rem, 0.8rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    font-weight: 500;
    cursor: pointer;
}

#signup-button{
    border-right: none;
    border-radius: 15px 0 0 15px;
}

#login-button{
    border-radius: 0 15px 15px 0;
}

#signup-button:hover, #login-button:hover{
    background-color: darkred;
    border-color: darkred;
    cursor: pointer;
    font-weight: 300;
    color: white;
}

#signup-button:active, #login-button:active{
    background-color: darkred;
    border-color: darkred;
    cursor: pointer;
    font-weight: 300;
    color: white;
}

#signup-button a, #login-button a{
    color: #f4f4f4;
    font-weight: 500;
    text-decoration: none;
    font-weight:300;
    transition: all 0.5s ease;
}


.invite{
    color: #333;
}

nav{
    background-color:darkolivegreen;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    text-decoration: underline;
    color: white;
}

nav ul li a:active{
    text-decoration: underline;
    color: white;
}

.invite{
    color: inherit;
    }

.button{
    margin: 0.4rem;
    padding: 0.5rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    border-radius: 10px;
}

.button a{
    color: #f4f4f4;
    font-weight: 500;
    text-decoration: none;
    font-weight:300;
    transition: all 0.5s ease;
}

.button:hover {
    background-color: darkred;
    border-color: darkred;
    cursor: pointer;
    font-weight: 300;
}

.button:hover a{
    color: white;
}

label{
    font-weight: 500;
    margin: 0.3rem;
}

input{
    padding: 0.4rem;
    border: 1px solid #333;
    border-radius: 15px;
    box-sizing: border-box;
}

button{
    padding: 0.2rem 0.8rem;
    margin-top: 0.2rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    color: #f4f4f4;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

button a{
    color: #f4f4f4;
    font-weight: 500;
    text-decoration: none;
    font-weight:300;
    transition: all 0.5s ease;
}

button:active {
    background-color: darkred;
    border-color: darkred;
    cursor: pointer;
    font-weight: 300;
    color: white;
}

button:hover {
    background-color: darkred;
    border-color: darkred;
    cursor: pointer;
    font-weight: 300;
    color: white;
}

.auth-page-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container, .signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    border: 1px solid #333;
    border-radius: 30px;
    
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    text-align: center;
}

.login-container h2, .signup-container h2{
    margin-bottom: 1rem;
}

.login-container .GnM-form, .signup-container .GnM-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group{
    position: relative;
    padding: 0.3rem 0;
    margin-bottom: 1rem;
    width: 100%;
}

.login-container input, .signup-container input{
    width: 100%;
    padding: 0.5rem 0.7rem 0.5rem 0.3rem;
    border-radius: 10px;
    outline: none;
}

.login-container label, .signup-container label{
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    background-color: transparent;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}

.login-container input:focus~label,
.login-container input:valid~label,
.signup-container input:focus~label,
.signup-container input:valid~label{
    top: -10px;
}

.login-container .icon, .signup-container .icon{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.login-container button, .signup-container button{
    margin: 0.5rem auto;
    width: 40%
}

.remember-me, .agree-tnc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.8rem;
    margin-bottom: 0.2rem;
}

.remember-me label, .agree-tnc label{
    position: static;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transform: none;
    white-space: nowrap;
}

.remember-me input[type="checkbox"], .agree-tnc input[type="checkbox"]{
    width: auto;
}

.message{
    margin-top: 1rem;
    color: red;
}

.signup-link{
    margin: 0.2rem;
}

.dark-mode .login-container label,
.dark-mode .login-container .icon,
.dark-mode .signup-container label,
.dark-mode .signup-container .icon{
    color: #020000;
}

.dark-mode .login-container input:focus~label,
.dark-mode .login-container input:valid~label,
.dark-mode .signup-container input:focus~label,
.dark-mode .signup-container input:valid~label{
    color: #f4f4f4;
}

.dark-mode .remember-me label,
.dark-mode .agree-tnc label{
    color: #f4f4f4;
}

@media (min-width: 1025px){

    header{
        background-color: blanchedalmond;
        color: #333;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    header.shifted{
        margin-left: 0;
    }

    nav {
        position: relative;
        width: 100%;
        height: auto;
        transform: none;
        padding: 0.5rem;
    }
    nav.collapsed{
        transform: none;
    }

    nav ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    nav ul li{
        margin: 0 1.5rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    main.shifted{
        margin-left: 0;
    }

    #toggle-nav{
        display: none;
        }

    .right-controls {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;
        }

    .invite{
        color:black;
        padding: 1rem;
    }

    #action-buttons{
        margin: 0.5rem;
        }

    .button:active {
        background-color: darkred;
        border-color: darkred;
        cursor: pointer;
        font-weight: 300;
    }

    .button:hover a{
        color: white;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1.5rem;
        padding: 1rem;
        max-width: 2000px;
        margin: 0 auto;
    }

    .button-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .form-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .login-container, .signup-container{
        width: min(90%, 350px);
        max-width: 350px;
    }

}

/*Tablet View*/
@media (max-width: 1024px) {
    header{
        margin-left: 200px;
    }

    header.shifted{
        margin-left: 0;
    }

    nav{
        position: fixed;
        height: 100%;
        width: 200px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 0.3rem;
        transition: transform 0.5s ease;
    }
    
    nav.collapsed{
        transform: translate(-100%);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{
        margin: 1rem 0;
    }

    .right-controls {
        flex-direction: column;
        align-items: flex-end; 
    }

    .auth-buttons{
        display: flex;
    }

    #toggle-nav{
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 0.5rem;
        border: 1px solid #333;
        border-radius: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    main{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: margin-left 0.5s;
        margin-left: 200px;
    }

    main.shifted{
        margin-left: 0;
    }

    .invite{
        padding: 0.6rem;
    }

    .button-container{
        margin-top: 2rem;
        margin-bottom: 2rem;;
    }

    .form-container{
        margin-top: 2rem;
        margin-bottom: 2rem;;
    }

    .auth-page-container{
        width: 100vw;
        height: 100vh;
    }

    .login-container, .signup-container{
        width: min(90%, 350px);
        max-width: 350px;
    }

}

/*Mobile View*/
@media (max-width: 480px) {
    header{
        margin-left: 100px;
    }

    header.shifted{
        margin-left: 0;
    }

    header h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        flex: none;
        z-index: 1;
    }

    main{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: margin-left 0.5s;
        margin-left: 100px;
    }

    main.shifted{
        margin-left: 0;
    }

    #toggle-nav{
        position: absolute;
        top: 1rem;
        left: 0.4rem;
        padding: 0.5rem;
        border: 1px solid #333;
        border-radius: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    .right-controls {
        flex-direction: column;
        align-items: flex-end; 
    }

    nav{
        position: fixed;
        height: 100%;
        width: 100px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 0.3rem;
        transition: width 0.5s;
    }

    nav.collapsed{
        transform: translate(-100%);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{
        margin: 0.7rem 0;
    }

    .invite{
        padding: 0.5rem;
    }
    #action-buttons{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button:active {
        background-color: darkred;
        border-color: darkred;
        cursor: pointer;
        font-weight: 300;
    }

    .button:hover a{
        color: white;
    }

    .auth-page-container{
        width: 100vw;
        height: 100vh;
    }

    .login-container, .signup-container{
        width: 100%;
        height: 100%;
    }

}

