* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:bisque;
    color: #333;
    line-height: 1.6;
}
body.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

body.dark-mode header, nav {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode .invite * {
    color: #f4f4f4;
}

body.dark-mode nav ul li a {
    color: f4f4f4;
}

body.dark-mode .button a{
    color: #f4f4f4;
}

body.dark-mode button{
    color: #f4f4f4;
}

header{
    background-color: blanchedalmond;
    color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: margin-left 0.5s ease;
}

header h1 {
        font-size: 2rem;
    }

#theme-toggle{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.invite{
    color: #333;
}

nav{
    background-color:darkolivegreen;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    text-decoration: underline;
    color: darkred;
}

.invite{
    color: inherit;
    }

.button{
    margin: 0.4rem;
    padding: 0.5rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    border-radius: 10px;
}

.button a{
    color: #333;
    font-weight: 500;
    text-decoration: none;
    font-weight:300;
    transition: all 0.5s ease;
}

.button:hover {
    background-color: darkred;
    border-color: darkred;
    cursor: pointer;
    font-weight: 300;
}

.button:hover a{
    color: white;
}

label{
    font-weight: 500;
    margin: 0.3rem;
}

input{
    padding: 0.4rem;
    border: 1px solid #333;
    border-radius: 15px;
    box-sizing: border-box;
}
button{
    padding: 0.2rem 0.8rem;
    margin-top: 0.2rem;
    border: 1px solid #333;
    background-color: darkolivegreen;
    color: #333;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}


@media (min-width: 1025px){

header{
    background-color: blanchedalmond;
    color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header.shifted{
    margin-left: 0;
}

header h1 {
    padding-right: 2.5rem;
}

nav {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    padding: 0.5rem;
}
nav.collapsed{
    transform: none;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin: 0 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main.shifted{
    margin-left: 0;
}

#toggle-nav{
    display: none;
    }

.invite{
    color:black;
    padding: 1rem;
}

#action-buttons{
    margin: 0.5rem;
    }

.buttons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
    padding: 1rem;
    max-width: 2000px;
    margin: 0 auto;
}

.button-container{
    margin-left: 2rem;
    margin-right: 2rem;
}

.form-container{
    margin-left: 2rem;
    margin-right: 2rem;
}

}


/*Tablet View*/
@media (max-width: 1024px) {
    header{
        margin-left: 200px;
    }

    header.shifted{
        margin-left: 0;
    }


    nav{
        position: fixed;
        height: 100%;
        width: 200px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 0.3rem;
        transition: transform 0.5s ease;
    }
    
    nav.collapsed{
        transform: translate(-100%);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{
        margin: 1rem 0;
    }

    #toggle-nav{
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 0.5rem;
        border: 1px solid #333;
        border-radius: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    main{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: margin-left 0.5s;
        margin-left: 200px;
    }

    main.shifted{
        margin-left: 0;
    }

    .invite{
        padding: 0.6rem;
    }
    #action-buttons{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-container{
        margin-top: 2rem;
        margin-bottom: 2rem;;
    }

    .form-container{
        margin-top: 2rem;
        margin-bottom: 2rem;;
    }
    
}

/*Mobile View*/
@media (max-width: 480px) {
    header{
        margin-left: 100px;
    }

    header.shifted{
        margin-left: 0;
    }

    header h1 {
        padding-right: 2.5rem;
    }

    main{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: margin-left 0.5s;
        margin-left: 100px;
    }

    main.shifted{
        margin-left: 0;
    }

    #toggle-nav{
        position: absolute;
        top: 1rem;
        left: 0.4rem;
        padding: 0.5rem;
        border: 1px solid #333;
        border-radius: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    nav{
        position: fixed;
        height: 100%;
        width: 100px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 0.3rem;
        transition: width 0.5s;
    }

    nav.collapsed{
        transform: translate(-100%);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{
        margin: 0.7rem 0;
    }

    .invite{
        padding: 0.5rem;
    }
    #action-buttons{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

