yt_dlp
librosa

numpy
soundfile
noisereduce
pypandoc

fastapi
uvicorn
python-dotenv

pydantic
alembic

sqlalchemy
psycopg2
asyncpg
sqlmodel

passlib[bcrypt]
python-jose[cryptography]
email-validator

pytest
httpx
pytest-asyncio
